@page
@model project_sem.Pages.bmxModel1
@{
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EXTRlife</title>

    <link href="~/css/Style.css" rel="stylesheet" type="text/css" />
</head>
<body>
   
    <section>
      
        <div class="container1">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/images/img1/image 2.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/img1/bmxscr2.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/img1/image 1.png" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="description">
            <div class="desc-rigth">
                <h3>(BMX или Modified Bike X-treme)</h3>
                <p>
                    Пожалуй, самый зрелищный и опасный вид велосипедного спорта, сочетающий в себе особенности мотокросса, а также сложные акробатические и цирковые трюки, выполняемые на BMX-велосипедах. В последнее время это экстремальное направление становится все более популярным как в России, так и во всем мире, причем биемиксингом увлекается, в основном, молодежь до 35 лет.

                    Мировую известность в данном виде спорта получили Джейми Бествик (Jamie Bestwick), Мэт Хоффман (Mat Hoffman), а также многократный чемпион Экстремальных BMX-игр X-Games Дэйв Мирра (Dave Mirra), выполняющий уникальный по своей сложности трюк – двойное сальто назад на велосипеде.


                </p>
            </div>

            <div class="desc-left">
                <h3>Немного истории</h3>
                <p>
                    Bmx появился в Калифорнии более 30 лет назад. Американская молодежь, ориентируясь на своих кумиров из мотокросса, использовала для гонок и выполнения трюков обычные велосипеды. Тогда биемиксинг еще не являлся видом спорта как таковым – для юных экстремалов это было, скорее, средством самовыражения, возможностью выделиться из толпы.

                    Среди начинающих райдеров постепенно сформировался свой стиль в одежде: было принято носить широкие джинсы, кеды и толстовки с капюшонами. А немного позже были разработаны удобные и легкие мини-велосипеды для любителей BMX.

                    В 1981 году BMX становится официальным спортивным направлением и появляется IBMXF – международная федерация ВМХ, а позже организуются серии национальных соревнований по BMX в США (например, известные состязания «Bicycle Stunt») и мировые чемпионаты. Спортсмены постепенно осваивают самые сложные акробатические трюки с использованием BMX-велосипеда.

                    В середине 1990-х гг. появляются тематические средства массовой информации, освещающие тенденции BMX, а также клубы по интересам. Во второй половине 1990−х гг. огромную популярность получает самое опасное направление в биемиксинге — так называемый «верт» (vert). Развивается также райдинг в стиле «стрит» (street) – зрелищное катание с препятствиями. А с 2008 г. биемиксинг включается в программу летних Олимпийских игр (есть как мужская, так и женская дисциплины спорта).

                    В связи с тем, что биемиксинг уже фактически стал официальным видом спорта, велосипеды для BMX должны соответствовать ряду технических требований.


                </p>

            </div>
            <div class="desc-left">
                <h3>Особенности велосипедов для BMX</h3>
                <p>
                    Любой BMX-велосипед должен быть адаптирован для гонок на трассе (рейсинга), а также для выполнения сложных трюков. Именно поэтому такие велосипеды невелики по размеру (небольшие габариты необходимы для маневренности), имеют очень прочую раму, руль с кроссбаром и специальные трубки на осях колес – пеги.

                    На многих моделях BMX-велосипедов установлен также специальный гироротор, обеспечивающий беспрепятственное вращение руля на 360 градусов. Благодаря такой нехитрой конструкции, спортсмены могут выполнять виртуозные трюки на велосипедах, например, барспин.


                </p>
            </div>
            <div class="desc-left">
                <h3>Направления и трюки</h3>
                <p>
                    В биемиксинге выделяется, как правило, пять направлений.
                    В первую очередь, это рейсинг (BMX-racing) – гонки на велосипедах по трассам с трамплинами и иными препятствиями. Трамплины могут быть, например, двойными (так называемые double), и даже тройными (triple).
                </p>
                <p>
                    Другое направление BMX, флетленд (Flatland), подразумевает выполнение довольно сложных, почти цирковых трюков в течение определенного промежутка времени. Данное направление нередко именуют также «танцы на велосипеде». Одним из самых известных трюков этого направления является катание на одном колесе.
                </p>
                <p>
                    Оставшиеся три направления биемиксинга можно объединить в одну Freestyle-группу. Это:
                    Верт (Vert) – очень эффектное и зрелищное катание в специально оборудованной рампе. Спортсмены могут выполнять на велосипедах, например, такие трюки, как сальто назад и вращение в несколько оборотов, причем все это делается в прыжке с вылетом.
                </p>
                <p>
                    Дерт, также известный как дерт-джампинг (Dirt jumping) – не менее зрелищное направление. Целая серия трюков выполняется на грунтовой трассе с двойными препятствиями.
                </p>
                <p>
                    Стрит (Street) – самое демократичное из всех BMX-направлений, для которого характерно выполнение вело-трюков не на специальных трассах, а в обычных уличных условиях. Наиболее популярный трюк street-биемиксинга – езда на пегах по перилам.
                </p>
                </p>
            </div>
            <div class="desc-left">
                <h3>BMX в России</h3>
                <p>
                    В России различные BMX-направления стали активно развиваться лишь во второй половине 1990-х гг. Сегодня среди российских спортсменов очень популярны рейсинг, стрит-биемиксинг и флетленд. Также российские любители экстрима постепенно осваивают дерт-джампинг: в некоторых BMX-клубах в Москве уже есть специальные трассы для данного направления. Безусловно, значимой датой для развития российского BMX-спорта станет 2011 год, когда в нашей стране будет впервые проведен мировой чемпионат по Race-биемиксингу.

                    В целом, BMX воспринимается российской молодежью, скорее, не как спорт, а как экстремальный образ жизни, средство самовыражения. Молодые люди создают клубы по интересам, одеваются в определенном freestyle-стиле, часами проводят время на специальных трассах с препятствиями, или же импровизируют на велосипедах в городских условиях.


                </p>
            </div>
            <div class="desc-left">
                <h3>Youtube каналы про BMX</h3>
                <p><a href="https://www.youtube.com/channel/UCwYQCqLIBU9_8EMJ10zy55g">Fakt BMX</a></p>
                <p><a href="https://www.youtube.com/channel/UC4cFd1lBQz9xMYVO9_LdmeQ">Костя Андреев</a></p>
                <p><a href="https://www.youtube.com/watch?v=g-8NgLoyFLo&ab_channel=BillyPerry">Billy Perry</a></p>
            </div>
        </div>
    </section>


</body>
</html>