@page
@model project_sem.Pages.Shared.NewsModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EXTRlife</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&display=swap" rel="stylesheet">
    <link href="~/css/Style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <section>
        <div class="newsimage">
            <img src="~/images/img1/image13.png" alt="uram">

        </div>
        <div class="desc-news">
            <h3>Казанский BMX</h3>
            <p>
                Казанский экстрим-парк «Урам» завоевал всероссийскую премию. Об этом в своем Instagram сообщил глава республики Рустам Минниханов.

                На первой Всероссийской премии «Время молодых» парк выиграл в номинации «Лучшее место для молодежи». «Так держать! Алга!» — написал руководитель Татарстана.
            </p>
            <p>
                Площадь «Урама» — 42 тысячи квадратных метров, и это самый большой в стране экстрим-парк. Проектированием и строительством занималась компания Legato Sports Architecture, основанная одним из лучших BMX-райдеров в стране Василием Борисенко, — она специализируется на спортивных объектах и общественных пространствах. В разработке концепции также участвовали архитекторы бюро KOSMOS — авторы первого павильона музея Garage и визуального решения арт-пространства «ЭМА» в Москве.

            </p>
        </div>

        <div class="desc-news1">
            <h3>Питерский сап-сёрфинг</h3>
            <p>
                В Петербурге любители катания на sup-бордах закрыли сезон. В честь этого в городе состоялся прощальный заплыв.

                Событие приурочили к международному Дню туризма, который отмечается в этот день. Более 200 участников мероприятия собрались на Крюковом канале. Участники направились в сторону реки Мойки, где собирались у Зеленого моста и соревновались в конкурсе за лучший костюм.
            </p>
        </div>

        <div class="newsimage1">
            <img src="~/images/img1/image15.png" alt="uram">
        </div>



    </section>
   

</body>
</html>