@page
@model project_sem.Pages.SkateboardingModel
@{
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EXTRlife</title>

    <link href="~/css/Style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <section>
            <div class="container1">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="~/images/img1/skateb2.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="~/images/img1/skateb1.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="~/images/img1/skateb3.png" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="description">
                <div class="desc-rigth">
                    <h3>(Skateboarding)</h3>
                    <p>
                        Скейтбординг можно смело назвать крутым видом спорта, идеально подходящим для отличного времяпрепровождения в городе. Благодаря простоте и доступности скейтбординг с момента своего создания в Калифорнии в 1960-х годах стал популярным видом спорта во всем мире. Скейтбординг на протяжении своей истории переживал периоды подъема и спада, сегодня же он представляет собой многомиллиардную индустрию. Благодаря широкому распространению видео, игр и широкой поддержке брендов лучшие скейтбордисты известны во всем мире. Скейтбординг смело можно назвать глобальным видом спорта, ведь с 2021 года он будет включен в Олимпийскую спортивную программу.

                    </p>
                </div>

                <div class="desc-left">
                    <h3>Немного истории</h3>
                    <p>
                        Скейтбординг появился в конце 1930-х — начале 1950-х годов, в среде калифорнийских сёрферов, которые не могли заниматься сёрфингом, когда не было волн. Первыми скейтами были ящики и доски с прикреплёнными колёсами.

                    </p>

                </div>
                <div class="desc-left">
                    <h3>Особенности скейтбординга</h3>
                    <p>
                        Кататься на скейте могут и взрослые, и дети. Это веселое времяпрепровождение и польза для здоровья. Научившись правильно и безопасно кататься, подобный вид спорта будет только позитивным и весьма полезным.

                        В скейтбординге успешно сочетаются практичность и комфорт. У вас будет возможность кататься как в помещении, так и снаружи, выбирая большие пространство, а может быт, на небольшой ограниченной территории.

                        Идеальным местом для катания на скейтах будет конечно, скейтпарк. Но совершенствовать свои навыки вы успешно можете и на другой территории. Это может быть асфальт или бетонная дорожка. Вы сможете интересно проводить время с друзьями, катаясь на скейтах, а может быть. самостоятельно обучаться технике в удобное время.

                        Также следует добавить и то, что скейт и наколенники, налокотники и шлем каждый сможет позволить себе приобрести. Поэтому добавить в список положительных характеристик можно смело такое качество как доступность. Здесь следует добавить и комфорт, экономичность и экологическую безопасность подобного вида транспорта. Вы сможете легко ездить на автобусе или в метро, когда у вас в руках скейтборд, а потом поставить его на дорогу и помчать, наслаждаясь скоростью.

                    </p>
                </div>
                <div class="desc-left">
                    <h3>Направления и трюки</h3>
                    Одним из самых распространённых направлений в скейтбординге является Стрит (Street) – уличное катание, которое практически не требует никаких специальных площадок и фигур в виде рамп, трамплинов и т.д. Как говорится: «Весь город – спортивная площадка». Используй пространство на своё усмотрение – бордюры, люки, ступеньки, перилы, клумбы, заборчики, урны, порой даже пятачок с хорошим асфальтом – перепрыгивай, балансируй, скользи, делай всё, на что хватит твоего уровня и твоей фантази
                </div>
                <div class="desc-left">
                    <h3>Скейтбординг в России</h3>
                    <p>
                        В Советском Союзе подобия скейтов появились в начале 1980-х, причем как только их не называли – и роликовыми досками, и роликовыми самокатами. Собирали их не только на коленке, но и на военных заводах – доски получались увесистыми и брутальными, хотя были гораздо меньше нынешних и напоминали миниатюрные пенниборды.
                    </p>
                </div>
                <div class="desc-left">
                    <h3>Youtube каналы про Скейтбординг</h3>
                    <p><a href="https://www.youtube.com/channel/UCNJeOcoKhRrBGE3s0u8WgFA">Braille Skateboarding Russia</a></p>
                    <p><a href="https://www.youtube.com/channel/UCf9ZbGG906ADVVtNMgctVrA">Red Bull Skateboarding</a></p>
                </div>
            </div>
    </section>

</body>
</html>
