@page
@model project_sem.Pages.SnowboardingModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EXTRlife</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&display=swap" rel="stylesheet">
    <link href="~/css/Style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <section>

        <div class="snowimage">
            <img src="~/images/img1/snowbrd.png" alt="snow">
        </div>
        <div class="desc-left">
            <h3>Снежный экстрим</h3>
            <p>
                Сноубординг считается молодым видом спорта, ему ещё не исполнилось и сотни лет. Изобрел его в 60-х годах американец Шерман Поппен, прототип современного сноуборда был изготовлен из двух склеенных лыж. Поппен назвал свое изобретение «снерфер» (от англ. snurfer — слово, составленное из двух других — snow («снег») и surf — «сёрф»). На доске не было креплений, и наездник должен был держаться за специальную веревку, привязанную к носу снаряда. Получившийся вид спорта начал быстро набирать популярность.  Большое влияние на его развитие оказали Димитрий Милович, Джейк Бёртон (основатель компании Burton Snowboards), Том Симс (Sims Snowboards), Майк Олсон (Mervin Manufacturing). В 1979 году прошел первый Мировой чемпионат по снерфингу. Одним из участников данного соревнования был Джейк Бёртон, который немного усовершенствовал свою доску, добавив к ней крепления. Из-за того, что снаряд Бёртона отличался от остальных, ему пришлось участвовать отдельно от всех остальных райдеров. Будучи единственным участником, он без труда выиграл этот конкурс. 
            </p>
        </div>
    </section>
    </body>
</html>

